body {
  margin: 0;
  font-family: 'Eater', cursive;
  font-size: 1.5em;
  color: hsla(0,0%,100%,.56);
  background-color: #3a3a3a;
}

.container,
.todo-input {
  font-size: 1.2em;
}

.container {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;

  padding: 3em;
  padding-left: 5em;
}

.title {
  position: absolute;
  top: 100%;
  left: 1em;
  margin: 0;
  transform: rotate(270deg);
  transform-origin: 0 0;
}

.todo-input {
  padding: .5em 1em;
  font-family: 'Eater', cursive;
  background-color: #424242;
  outline: 0;
  border: .1em solid #333;
  border-radius: .2em;
}

.todo-input:focus {
  background-color: hsla(0, 0%, 100%,.56);
}

.todo-input::placeholder {
  color: #333;
  font-weight: bold;
}

.todos div {
  padding: 1em;
  border-bottom: 0.1em solid #333;
  cursor: pointer;
}

.stroked {
  position: relative;
}

.stroked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border: .1em dashed #f44336;
}

.punk {
  max-width: 60%;
  margin: 1em auto;
  display: block;
}

.hidden {
  opacity: 0;
}
